:root {
	--white: hsl(0, 0%, 100%);

	/* Theme 1 */
	--main-bg-1: hsl(222, 26%, 31%);
	--keypad-bg-1: hsl(223, 31%, 20%);
	--screen-bg-1: hsl(224, 36%, 15%);

	--option-key-bg-1: hsl(225, 21%, 49%);
	--option-key-shadow-1: hsl(224, 28%, 35%);
	--option-key-active-1: hsl(224, 51%, 76%);

	--result-key-bg-1: hsl(6, 63%, 50%);
	--result-key-shadow-1: hsl(6, 70%, 34%);
	--result-key-active-1: hsl(6, 93%, 67%);

	--main-key-bg-1: hsl(30, 25%, 89%);
	--main-key-shadow-1: hsl(28, 16%, 65%);
	--main-key-active-1: #ffffff;

	--text-1: hsl(221, 14%, 31%);

	/* Theme 2 */
	--main-bg-2: hsl(0, 0%, 90%);
	--keypad-bg-2: hsl(0, 5%, 81%);
	--screen-bg-2: hsl(0, 0%, 93%);

	--option-key-bg-2: hsl(185, 42%, 37%);
	--option-key-shadow-2: hsl(185, 58%, 25%);

	--result-key-bg-2: hsl(25, 98%, 40%);
	--result-key-shadow-2: hsl(25, 99%, 27%);

	--main-key-bg-2: hsl(45, 7%, 89%);
	--main-key-shadow-2: hsl(35, 11%, 61%);

	--text-2: hsl(60, 10%, 19%);

	/* Theme 3 */
	--main-bg-3: hsl(268, 75%, 9%);
	--keypad-bg-3: hsl(268, 71%, 12%);

	--option-key-bg-3: hsl(281, 89%, 26%);
	--option-key-shadow-3: hsl(285, 91%, 52%);

	--result-key-bg-3: hsl(176, 100%, 44%);
	--result-key-shadow: hsl(177, 92%, 70%);

	--main-key-bg-3: hsl(268, 47%, 21%);
	--main-key-shadow-3: hsl(290, 70%, 36%);

	--text-3: hsl(52, 100%, 62%);
	--text-options-3: hsl(198, 20%, 13%);

	font-size: 32px;
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--main-bg-1);
}

button {
	font-size: 32px;
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
}
